* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background:blue;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header .imglogo {
    /* Ajusta según el tamaño deseado */
    border-radius: 300px;
    width: 40px;
    float: center;
    margin-left: 20px;

}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px; /* Espacio alrededor del contenedor */
     padding:  10px;
}
/* Estilo para el contenedor de las tarjetas */
.card {
    width: 100%;
    max-width: 500px; /* Ajusta según el tamaño que desees */
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column; /* Coloca los elementos en una columna */
    margin: 10px; /* Margen alrededor de la tarjeta */
}

/* Estilo para la imagen dentro de la tarjeta */
.card img {
    width: 100%;
    height: 400px;; /* Mantiene la relación de aspecto de la imagen */
    object-fit: AUTO; /* Ajusta la imagen sin deformarla */
    max-height: 200px; /* Ajusta la altura máxima según sea necesario */
}

/* Contenedor del contenido dentro de la tarjeta */
.card .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    padding: 15px; /* Espacio alrededor del contenido */
    flex-grow: 1; /* Permite que el contenido ocupe el espacio disponible */
}

/* Estilo para los párrafos dentro de la tarjeta */
.card .content p {
    margin: 0;
    line-height: 1.5;
    color: #333;
}

/* Estilo para los títulos dentro de la tarjeta */
.card .content h3 {
    margin: 0;
    font-weight: 400;
    margin-bottom: 10px;
}

/* Estilo para el botón dentro de la tarjeta */
.card .content a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    color: #fff;
    background-color: #0f2275e1;
    border: none;
    border-radius: 4px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.card .content a:hover {
    background-color: #75a4af;
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

.btn {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
}

.btn:hover{
    background: #2fb4cc;
    color: #fff;}

@media (min-width: 768px) {
    .card {
    max-width: calc(33.333% - 20px); /* Tres tarjetas por fila */
    }
}

/* Pantallas medianas (  768px) */
@media (max-width: 767px) {
    .card {
    max-width: calc(50% - 20px); /* Dos tarjetas  */
    }
}

/* Pantallas pequeñas ( 480px) */
@media (max-width: 480px) {
    .container {
    flex-direction: column;
    align-items: center;
    }
    .card {
    max-width: 100%; /*  tarjeta por fila */
    margin: 10px 0; /* Ajuste del margen en pantallas pequeñas */
    }}

footer {
    background: #69b2c9;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 10;
}

.baner1 {
    border-top-left-radius: 10px;  /* Aplica borde redondeado en la esquina superior izquierda */
    border-top-right-radius: 10px; /* Aplica borde redondeado en la esquina superior derecha */
    border-bottom-left-radius: 200px;  /* Sin borde redondeado en la esquina inferior izquierda */
    border-bottom-right-radius: 200px; /* Sin borde redondeado en la esquina inferior derecha */
    width: 10%;  /* Ajusta el ancho según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Asegura que la imagen se comporte como un bloque */
    margin: 0.9cm;
}

.baner2{
    width: 100%;
    height: 400px;; /* Mantiene la relación de aspecto de la imagen */
    object-fit: AUTO;
}

.presentacion{
   position: absolute;
   left: 20%;
   top: 20%;
   right: 10px;
   color: rgba(14, 12, 12, 0.548);
   background-color:none rgba(248, 239, 239, 0.952); /* Fondo semitransparente para que el texto se vea bien */
   padding: 5px;
   z-index: 2;              
}

.informacion{
    position: relative;
    top: 120%;   /* Posiciona el texto verticalmente en el centro del contenedor */
    left: 50%;  /* Posiciona el texto horizontalmente en el centro del contenedor */
    transform: translate(-50%, -50%); /* Ajusta la posición del texto para centrarlo */
    color: rgb(2, 2, 2);
    background-color: none rgba(233, 223, 223, 0.5); /* Fondo semitransparente para que el texto se vea bien */
    padding: 5px;
    z-index: 10; /* Asegura la imagen*/
    margin: 1cm;
}